[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "*"
matplotlib = "*"
sklearn = "*"
pandas = "*"
seaborn = "*"
plotly = "*"
pandas-datareader = "*"
textblob = "*"
wordcloud = "*"
nltk = "*"
xgboost = "*"
lightgbm = "*"
folium = "*"
nbformat = "*"
pydotplus = "*"
graphviz = "*"
statsmodels = "*"
pmdarima = "*"

[dev-packages]

[requires]
python_version = "3.7"
